.bookingContainer {

}

.bookingItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}

.bookingItems h1 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding-block: 2rem;
}

.formcontainer {
    width: 80%;
    margin: 0 auto;
  }
  
  .bookinginputField {
    outline: none;
    border: none;
    border-radius: 3px;
    background: rgba(246, 246, 246, 1);
  }
  
  .bookinginputField::placeholder {
    font-size: 13px;
    color: rgba(117, 117, 117, 1);
  }

  .tripSchedule {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .chooseCar {
    padding: 1rem 1.5rem;
    background: rgba(246, 246, 246, 1);
  }

  .chooseCar2 {
    margin-top: 1rem;
  }

  .chooseCar p{
    font-size: 8px;
  }
  
.bookTerms {
    font-size: 10px;
}

  .bookingSubmit {
    padding-block: 0.5rem;
    width: 50%;
    margin-block: 4rem;
    border-radius: 3px;
    font-weight: 700;
    background: rgba(255, 204, 0, 1);
  }

  .contactText {
    font-size: 12px;
  }


@media (min-width: 1100px) {

    .bookingItems {
        width: 60%;
    } 

    .bookingItems h1 {
        font-size: 80px;
        width: 90%;
        line-height: 1.2;
        padding-block: 4rem;
    }

    .carContainer {
        flex-direction: row;
    }

    .chooseCar2 {
        margin-top: 0;
      }
    

    .tripSchedule {
        grid-template-columns: 1fr 1fr 1fr;
      }

    .tripInput {
        padding-inline: 2rem;
    }

    .bookingSubmit {
        width: 30%;
      }
    
      .contactText {
        font-size: 17px;
      }
}