.termsContainer {
  background: rgba(24, 24, 24, 1);
}

.termInner {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

.termInner h1 {
  font-size: 25px;
  padding-block: 2rem;
  margin-top: 3rem;
  text-align: center;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
}

.termsText2 {
  padding-bottom: 2rem;
  color: rgba(186, 186, 186, 1);
}

ol {
  list-style-type: lower-latin;
}

@media (min-width: 1100px) {
  .termInner h1 {
    font-size: 50px;
    padding-bottom: 2rem;
    padding-top: 3rem;
  }

  .termInner .termsText1 {
    font-size: 15px;
    line-height: 1;
  }

  .termsText2 li {
    font-size: 20px;
  }
}
