.contactContainer {
  background: rgba(24, 24, 24, 1);
}

.contactItems {
  text-align: center;
}

.contactItems h1 {
  font-size: 40px;
  font-weight: 700;
  padding-top: 6rem;
  padding-bottom: 2rem;
  color: white;
}

.contactItems p {
  padding-bottom: 2rem;
  font-size: 12px;
  color: rgba(170, 170, 170, 1);
}

.formcontainer {
  width: 80%;
  margin: 0 auto;
}

.inputField {
  outline: none;
  border: none;
  border-radius: 3px;
  background: rgba(246, 246, 246, 1);
}

.inputField::placeholder {
  color: rgba(186, 186, 186, 1);
}

.contactSubmit {
  padding: 0.8rem 0.5rem;
  margin-block: 4rem;
  font-size: 18px;
  border-radius: 3px;
  font-weight: 700;
  background: rgba(255, 204, 0, 1);
}

.error {
  color: red;
}

@media (min-width: 1100px) {
  .contactItems h1 {
    font-size: 70px;
    padding: 7rem 0 2rem 0;
  }

  .contactItems p {
    padding-bottom: 4rem;
    font-size: 20px;
  }
}
