/* .blogBg {
    background-image: url('../../assets/images/pngs/blog_img.png');
    background-size: cover;
} */

.blogContainer {
  padding-block: 2rem;
  font-family: "Kannada Sangam MN-Bold", Helvetica;
}

.blogItems h1 {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  line-height: 1.2;
  padding-top: 4rem;
  padding-bottom: 2rem;
  padding-inline: 0;
}

.blogImg {
  display: grid;
  grid-template-columns: 1fr;
}

.blogtaxiContainer {
  padding-bottom: 2rem;
}

.blogtaxiMain {
  background: rgba(255, 204, 0, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  margin: 20px;
  padding-block: 40px;
}

.blogtaxiMain img {
  width: 80%;
  height: 80%;
}

.blogtaxiText {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 10px;
}

.blogtaxiText h1 {
  font-weight: 700;
  font-size: 25px;
  text-align: center;
  padding-inline: 5px;
}

.blogtaxiText p {
  font-size: 13px;
  text-align: center;
}

.taxiText p {
  font-size: 15px;
  text-align: center;
  padding: 5px;
}

.blogtaxiText .impactlearnmore {
  margin-block: 10px;
  width: 50%;
}

@media (min-width: 1100px) {
  .blogItems h1 {
    font-size: 70px;
    line-height: 1.1;
    padding-top: 6rem;
    padding-bottom: 3rem;
  }

  .blogImg {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .blogtaxiContainer {
    padding-top: 2rem;
    margin: 0 auto;
  }

  .blogtaxiMain {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    padding-block: 50px;
    padding-inline: 40px;
  }

  .blogtaxiMain img {
    width: 50%;
    height: 280px;
  }

  .blogtaxiText {
    align-items: start;
    padding-block: 0;
    margin-right: 4rem;
  }

  .blogtaxiText h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 1;
    text-align: left;
    width: 90%;
    padding-inline: 0;
  }

  .blogtaxiText p {
    font-size: 35px;
    padding-block: 20px;
    text-align: left;
    padding-inline: 0;
  }

  .blogtaxiText .impactlearnmore {
    margin-block: 10px;
    width: 140px;
    font-size: 20px;
  }
}
