@tailwind base;
@tailwind components;
@tailwind utilities;


/* body {
    font-family: "Raleway-Regular", Helvetica;
    font-family: "Raleway-SemiBold", Helvetica;
    font-family: "Raleway-Bold", Helvetica;
    font-family: "Kannada Sangam MN-Bold", Helvetica;
} */

.container {
    width: 1000px;
    padding-inline: 1rem;
    margin-inline: auto;
}

@media (max-width: 1075px) {
    .container {
        width: auto;
    }
}